# Dependency Management
node-linker=isolated
shamefully-hoist=false

# Network
fetch-timeout=600000

# Security & Integrity
verify-store-integrity=true
strict-peer-dependencies=true
prefer-frozen-lockfile=true
audit=true
audit-level=moderate
